@font-face {
    font-family: "mainFont";
    src: url("Fonts/Avenir.ttc");
}

@font-face {
    font-family: "fontTimer";
    /* src: url("Fonts/Montserrat-ExtraLight.ttf"); */
    src: url("Fonts/Montserrat-Bold.ttf");
}

html, body {
    font-family: "mainFont";
    height: 100%;
    margin: 0;
    padding: 0;
}

/* POLICES */
h1 {
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 2px;
}

h2 {
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.33em;
    letter-spacing: 1px;
}

p {
    font-size: 1.1em;
}

/* NAVBAR */
#navbar-main {
    letter-spacing: 1px;
    position: fixed;
    top: 150px;
    left: 0;
    color: white;
    z-index: 51;
}

#navbar-main ul{
    list-style-type: none;
    padding: unset;
}

.navbar-n1 {
    font-weight: 400;
    font-size: 15px; /*0.9em*/
    padding: 8px 9px 8px 25px; /* 0.6em 0.6em 0.6em 3em */
    margin: 1px 0; /* 0.1em 0 0.1em 0 */
    /* */
    background: linear-gradient(to left, transparent 50%, #8D8E72 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.navbar-n1:hover {
    background-position: left;
    color: white;
}

.navbar-n1-current {
    color: #7B7C64; /* #8D8E72 */
    font-weight: bold;
}

.navbar-second-block {
    margin-top: 2.75em;
}

/* LOGO */
#logo {
    position: fixed;
    top: 20px;
    left: 20px;
    max-height: 100px;
    z-index: 51;
}

/* SOCIAL NETWORK */
#socials-network {
    position: fixed;
    bottom: 30px;
    left: 10px;
    display: flex;
    flex-direction: row;
    z-index: 51;
}

.social-network {
    height: 1em;
    min-height: 35px;
    padding: 0 0 0 1.75em;
}

/* MAIN CONTENT */
#main-content {
    margin: 0;
    background-color: #060301;
}

.bloc-content {
    margin: 5% 0 5% 0;
    padding: 3% 0 3% 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.bloc-content-center {
    justify-content: center;
}

.bloc-content-timer {
    margin: 5% 0 5% 0;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    outline: 2px solid #8D8E72;

    background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 55%, rgba(0,0,0,0.3) 100%),
    url("./pictures/weapon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bloc-content-title {
    width: 100%;
    text-align: center;
    color: white;
}

.card-concept {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 400px;
    margin: 0.5em 0.5em;
    padding: 1em 2em;

}

.card-concept-title {
    display: flex;
    flex-direction: row;
}

.card-concept-title h3 {
    margin: 15px 0 0 0;
    padding: 0 0 0 0.5em;
    color: #8D8E72;
}

.card-concept-number {
    position: relative;
    font-size: 2.65em;
    font-weight: bold;
    color: white;
    left: -20px;
    top: 20px;
    z-index: 51;
}

.card-concept-text {
    padding: 15px 0 0 25px;
    color: white;
}

.config-box-img {
    margin: 0 2%;
    width: 600px;
}

.config-box-img img {
    width: 100%;
    border-radius: 10px;
}

.config-box-form {
    margin: 0 2%;
    background-color: #E3E3DC; /* #B3B49A */
    box-shadow: 6px 6px 22px 2px rgba(179,180,154,0.36);
    -webkit-box-shadow: 6px 6px 22px 2px rgba(179,180,154,0.36);
    -moz-box-shadow: 6px 6px 22px 2px rgba(179,180,154,0.36);
    width: 525px;
    height: 450px;
    border-radius: 10px;
}

.sous-text {
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 25px;
}

.sous-text a {
    text-decoration: none;
    color: #8D8E72;
    font-style: italic;
}

/* USP */
.usp{
    height: 100%;
    min-height: 100vh;
    display: flex;
    padding-left: 180px;
    flex-direction: row;
    align-items: center;

    /* linear-gradient(90deg, rgba(0,0,0,0.5) 55%, rgba(0,0,0,0.3) 100%) */
    background-image: linear-gradient(186deg, rgba(0,0,0,0) 0%, rgba(6,3,1,1) 100%),
            url("./pictures/forest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blur-usp {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(35% + 180px);
    padding-left: 180px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(5px);
    z-index: 0;
}

.partie-gauche {
    max-width: 525px;
    margin: 0 45px 0 50px; /* 0 0 0 50px */
    color: white;
    z-index: 1;
}

.partie-droite {
    max-width: 525px;
    color: white;
}

/* BUTTONS */
.custom-button-primary {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #8D8E72;
    color: white;
    /*border: solid 1px #585947;*/
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 0.6em 1.7em;
}

.custom-button-primary:hover {
    box-shadow: 0 0 18px -2px rgba(71,71,57,0.74);
}

.custom-button-primary:active {
    background-color: white;
    color: #8D8E72;
    border: solid 1px #8D8E72;
    box-shadow: none;
}

.custom-button-secondary {
    text-decoration: none;
    text-transform: uppercase;
    /*background-color: #8D8E72;*/
    color: #8D8E72;
    border: solid 1px #8D8E72;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 0.6em 1.7em;
}

.custom-button-secondary:hover {
    background-color: #E3E3DC;
}

.custom-button-secondary:active {
    background-color: #D4D5CA;
}

.custom-button-tertiary {
    text-decoration: none;
    text-transform: uppercase;
    color: #8D8E72;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    padding: 0.6em 1.7em;
}

.custom-button-tertiary:hover {
    background-color: #E3E3DC;
}

.custom-button-tertiary:active {
    background-color: #D4D5CA;
}

/* ICONS */
.list-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
}

.icon-card {
    text-align: center;
    padding: 0 2%; /* 0 1em */
}

.custom-icon{
    width: 55px;
    height: 55px;
}

.titre-icon{
    font-size: 1em;
}

/* VIDEO */
#background-video {
    max-width: 100%;
    border-radius: 10px;

}

/* OTHERS */
.bloc-text-center {
    width: 100%;
    text-align: center;
    padding: 4em 0 3em 0;
}

.text-border-left {
    border-left: 3px solid #7B7C64;
    padding-left: 15px;
    margin-left: -15px;
}

#countdown-next-month {
    font-family: "fontTimer";
    font-size: 4em;
    letter-spacing: 5px;
}
