/* FORM PERSONNALISATION */

.config-box-content {
    position: relative;
    min-height: 100vh;
    justify-content: center;

    background: url("../pictures/backgrounds/forest_mist_bis.png"); /*linear-gradient(180deg, rgba(0,0,0,0.5) 00px, rgba(255,255,255,0) 26px), linear-gradient(0deg, rgba(0,0,0,0.5) 00px, rgba(255,255,255,0) 26px),*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.config-box-partie-gauche {
    position: relative;
    width: 50%;
}

.config-box-partie-gauche img {
    width: 100%;
}

.picture-base {
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    -webkit-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    -moz-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
}

.config-box-partie-droite {
    width: 400px;
    margin: 0 0 0 -45px;
    padding: 1% 20px 40px 45px;
    border-radius: 10px;
    background-color: #F8FAFA;
    font-size: 0.9em;
    color: black;

    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    -webkit-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    -moz-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    z-index: 2;

    transition: height 1s linear;
}

.config-box-partie-droite p {
    margin: 0;
}

.config-box-produit-content {
    padding: 2% 0 5% 0 ;
}

#config-box-conso-supplementaire {
    display: none;
}

/* ICONS FORM */

.list-icon-form {
    margin: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.link-icon-form {
    text-decoration: none;
}

.icon-form {
    margin: 2px 3px;
    padding: 10px 15px;
    border: 1px solid rgba(141,142,114,0.25);
    outline: 1px solid rgba(141,142,114,0);
    border-radius: 5px;
}

.icon-form:hover {
    border: 1px solid rgba(141,142,114,0.75);
    outline: 1px solid rgba(141,142,114,0.75);
}

.icon-form-active {
    border: 1px solid rgba(141,142,114,0.75);
    outline: 1px solid rgba(141,142,114,0.75);
}

.icon-form img {
    height: 35px;
    width: 35px;
}

.icon-form p {
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    font-family: "fontTimer";
    color: #000;
    opacity: 0.7;
    font-size: 1em;

}

.icon-form-camo {
    height: 50px;
    width: 50px;
    margin: 2px 5px;
    padding: 0;
    border: 1px solid rgba(141,142,114,0);
    outline: 2px solid rgba(141,142,114,0);
    border-radius: 50%;
}

.icon-form-camo:hover {
    border: 1px solid rgba(141,142,114,1);
    outline: 2px solid rgba(141,142,114,1);
}

.icon-form-camo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.camo-black {
    background-color: #131615;
}

.camo-green {
    background-color: #6c6641;
}

/* PICTURIES */

.picture-superieure {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

/* HIDDEN PARTS */

.config-box-details {
    display: none;
}

/* MOUSE SCROLL */
#mouse-scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: absolute;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: calc(var(--sizeX)/2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;

    bottom: 0;
}

#mouse-scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }
    40% {
        opacity: 1;
        height: 10px;
    }
    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }
    100% {
        height: 3px;
        opacity: 0;
    }
}
