@font-face {
    font-family: "mainFont";
    src: url("../Fonts/Avenir.ttc");
}

@font-face {
    font-family: "fontTimer";
    src: url("../Fonts/Montserrat-Regular.ttf");
}

:root {
    --main-color: #8D8E72;
    --secondary-color: #EA820B;

    --font-color: #fff;

    --background-color: #060301;
}

html, body {
    font-family: "mainFont";
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* POLICES */
h1 {
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
    margin: 0.1em 0 0.75em 0;
}

h2 {
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.2rem;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.33em;
    letter-spacing: 1px;
    color: var(--main-color);
}

p {
    font-size: 1rem;
}

hr {
    opacity: 0.25;
}

.subtitle {
    margin: 0 0 0 0;
    font-size: 1.3rem;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 480px){
    h1 {font-size: 2.25rem;}

    h2 {font-size: 1.85em;}

    h3 {font-size: 1.25em;}

    .subtitle {font-size: 1.2rem;}
}

/* NAVBAR */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    overflow: hidden;
    z-index: 51;

    background-color: transparent;
    transition: background-color 0.3s linear;
}

#header a {
    display: flex;
    align-items: center;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    display: flex;
    letter-spacing: 2px;
    list-style-type: none;
    padding: 1rem;
    backdrop-filter: blur(1rem);
}

.primary-navigation-1 {
    font-size: 0.8rem;
    padding: 0 0.5em;
    margin: 0 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.primary-navigation-current {
    border-bottom: 1px solid #fff;
}

/* LOGO */
#logo {
    height: 3rem;
}

/* SOCIAL NETWORK */
#socials-network {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
    z-index: 51;
}

.social-network {
    height: 2rem;
    padding: 0 0 0 1rem;
}

@media screen and (min-width: 850px) {
    .primary-navigation {
        margin-right: 3rem;
    }

    .primary-navigation-1 {
        transition: 1s;
    }

    .primary-navigation-1:hover {
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
}

@media screen and (max-width: 849px) {

    #logo {
        height: 3rem;
    }

    .primary-navigation {
        position: fixed;
        right: 0;
        inset: 0 0 0 40%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: rgba(34, 27, 27, 0.95);
        z-index: 1000;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-navigation-1 {
        padding: 1.5rem 0 0.5rem 0;
        text-align: center;
        font-size: 1rem;
    }

    .primary-navigation-1:hover {
        color: var(--main-color);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        top: 1rem;
        right: 4rem;
        background-color: transparent;
        background-image: url("../pictures/menu.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../pictures/close.png");
    }

    #socials-network {
        width: 100%;
        backdrop-filter: blur(0.5rem);
        justify-content: center;
        bottom: 0;
        left: 0;
    }

    .social-network {
        height: 1.75rem;
        padding: 0.5rem 0.25rem 0rem 0.25rem;
    }

    /* for browser which support backdrop-filter */
    @supports (backdrop-filter: blur(1rem)) {
        .primary-navigation {
            background: rgba(34, 27, 27, 0.7);
            backdrop-filter: blur(1rem);
        }
    }
}

/* ANIMATION MANAGEMENT */
/* cancel animation during resize windows */
.resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
}

