/* MAIN CONTENT */
#main-content {
    margin: 0;
    background-color: #060301;
}

.bloc-content {
    margin: 3% 0 5% 0;
    padding: 3% 0 3% 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;

    padding: 2% 0;

    font-size: 90%;
}

#footer div {
    padding: 3vh 3vw;
}

.partie-gauche {
    max-width: 525px;
    margin: 0 45px 0 50px; /* 0 45px 0 50px */
    color: white;
    z-index: 1;
}

.partie-gauche img {
    width: 100%;
    border-radius: 10px;
}

.partie-droite {
    max-width: 600px;
    color: white;
    z-index: 1;
}

.bloc-text-center {
    text-align: center;
}

.bloc-content-center {
    width: 100%;
    text-align: center;
    padding: 4em 0 3em 0;
}

.bloc-content-timer {
    margin: 5% 0 5% 0;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    outline: 2px solid #8D8E72;

    background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 55%, rgba(0,0,0,0.3) 100%),
    url("../pictures/weapon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bloc-content-title {
    width: 100%;
    text-align: center;
    color: white;
}

.card-concept {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 400px;
    margin: 0.5em 0.5em;
    padding: 1em 2em;

}

.card-concept-title {
    display: flex;
    flex-direction: row;
}

.card-concept-title h3 {
    margin: 15px 0 0 0;
    padding: 0 0 0 0.5em;
    color: #8D8E72;
}

.card-concept-number {
    position: relative;
    font-size: 2.65em;
    font-weight: bold;
    color: white;
    left: -20px;
    top: 10px;
    z-index: 51;
}

.card-concept-text {
    padding: 0px 0 0 25px;
    color: white;
}

.sous-text {
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 25px;
}

.sous-text a {
    text-decoration: none;
    color: #8D8E72;
    font-style: italic;
}

/* USP */
.usp{
    height: 100%;
    min-height: 100vh;
    /*padding-left: 180px;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    /* linear-gradient(90deg, rgba(0,0,0,0.5) 55%, rgba(0,0,0,0.3) 100%) */
    background-image: linear-gradient(186deg, rgba(0,0,0,0) 0%, rgba(6,3,1,1) 100%),
    url("../pictures/forest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#usp-blur {
    position: absolute;
    left: 0;
    height: 100%;
    width: min(calc(20% + 180px), 1000px);
    padding: 0 max(40px, 5%) 0 max(calc(180px + 25px), calc(180px + 5%));
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(5px);
    z-index: 0;
}

.usp .partie-gauche {
    margin: 0 0 0 0; /* 0 45px 0 50px */
    min-width: 300px;
}

/* COLLAPS */
.bloc-content-collaps {
    width: min(80%, 1000px); /* prend la valeur la plus petite */
    margin-top: 5vh;
}

.bloc-content-collaps-part {
    border-bottom: 1px solid #fff;
    margin: 0 0;
    padding: 1em 0 0.5em 0;
}

.collaps {
    cursor: pointer; /* !!!!!!!!!!!!!!!! */
    width: 100%;
    text-align: left;
    color: #fff;
    border: none;
    outline: none;
    background-color: #060301;
    padding-left: 25px;
}

.collaps h3:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: #fff;
    float: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collaps:hover {
    /*background-color: #ccc;*/
}

.active h3:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.collaps-content {
    overflow: hidden;
    padding: 0 20px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}