/* FORM PERSONNALISATION */

.config-box-content {
    position: relative;
    justify-content: center;

    background: url("../pictures/backgrounds/forest_mist_bis.png"); /*linear-gradient(180deg, rgba(0,0,0,0.5) 00px, rgba(255,255,255,0) 26px), linear-gradient(0deg, rgba(0,0,0,0.5) 00px, rgba(255,255,255,0) 26px),*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.config-box-partie-gauche {
    position: sticky;
    top: 15%;
    width: 50%;
}

.config-box-partie-gauche img {
    width: 100%;
}

.picture-base {
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    -webkit-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    -moz-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
}

.config-box-partie-droite {
    width: 400px;
    margin: 0 0 0 -45px;
    padding: 1% 20px 40px 45px;
    border-radius: 10px;
    background-color: #F8FAFA;
    font-size: 0.9em;
    color: black;

    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    -webkit-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    -moz-box-shadow: 0 4px 26px rgba(0, 0, 0, 0.8)  ;
    z-index: 2;

    transition: height 1s linear;
}

.config-box-partie-droite p {
    margin: 0;
}

.config-box-produit-content {
    padding: 2% 0 5% 0 ;
}

#config-box-conso-supplementaire {
    display: none;
}

/* ICONS FORM */

.list-icon-form {
    margin: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-decoration: none;
}

.container-icon-form {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hider the browser's default radio button */
.container-icon-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.icon-form {
    margin: 2px 3px;
    padding: 10px 15px;
    border: 1px solid rgba(141,142,114,0.25);
    outline: 1px solid rgba(141,142,114,0);
    border-radius: 5px;
}

.icon-form img {
    height: 3.5rem; /* 35px */
    width: 3.5rem;
}

.icon-form p {
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    font-family: "fontTimer";
    color: #000;
    opacity: 0.7;
    font-size: 1em;

}

.container-icon-form:hover input ~ .icon-form{
    border: 1px solid rgba(141,142,114,0.75);
    outline: 1px solid rgba(141,142,114,0.75);
}

.container-icon-form input:checked ~ .icon-form /*.icon-form-active*/ {
    border: 1px solid rgba(141,142,114,0.75);
    outline: 1px solid rgba(141,142,114,0.75);

    background-color: #8D8E72;
}

.container-icon-form input:checked ~ .icon-form p {
    color: white;
}

.container-icon-form input:checked ~ .icon-form img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.icon-form-camo {
    height: 50px;
    width: 50px;
    margin: 2px 5px;
    padding: 0;
    border: 1px solid rgba(141,142,114,0);
    outline: 2px solid rgba(141,142,114,0);
    border-radius: 50%;
}

.icon-form-camo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container-icon-form:hover input ~ .icon-form-camo {
    border: 1px solid rgba(141,142,114,0.75);
    outline: 2px solid rgba(141,142,114,0.75);
}

.container-icon-form input:checked ~ .icon-form-camo {
    border: 1px solid rgba(141,142,114,0.75);
    outline: 2px solid rgba(141,142,114,0.75);
}

.camo-black {
    background-color: #131615;
}

.camo-green {
    background-color: #6c6641;
}

/* PICTURIES */

.picture-superieure {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

/* HIDDEN PARTS */

.config-box-details {
    display: none;
}

/* OTHERS */

.link-js {
    font-size: 0.9em;
    padding-top: 1rem;
    padding-left: 25px;
    cursor: pointer;
}

.link-js:hover, .link-js:active {
    color: #8D8E72;
}

#text-prix-box-form {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0.5em 0;
}

.text-prix {
    font-size: 0.5em;
    font-weight: normal;
}