/* MAIN CONTENT */
#main-content {
    margin: 0;
    background-color: var(--background-color);
}

.bloc-content {
    margin: 0; /* 3% 0 5% 0 */
    padding: 6rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: var(--font-color);

    transition: all 0.5s linear;
}

.partie-gauche {
    width: 50%;
    max-width: 525px;
    margin: max(5rem, 5%) max(1rem, 7%); /* 0 45px 0 50px */
    /*color: var(--font-color);*/
    flex-grow: 1;
    z-index: 1;

    transition: all 0.5s linear;
}

.partie-gauche img {
    width: 100%;
    border-radius: 10px;
}

.partie-droite {
    width: 50%;

    max-width: 600px;
    color: white;
    flex-grow: 1;
    z-index: 1;
}

.wrap {
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.bloc-text-center {
    text-align: center;
}

.bloc-content-center {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.bloc-content-title {
    width: 100%;
    text-align: center;
    color: white;
}

.sous-text {
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 25px;
}

.sous-text a {
    text-decoration: none;
    color: #8D8E72;
    font-style: italic;
}

@media screen and (max-width: 1024px) {
    .partie-gauche {
        padding-inline: 2rem;
    }
}

/* USP */
.usp{
    min-height: 100vh;
    padding: 0;
    justify-content: flex-start;

    /* linear-gradient(90deg, rgba(0,0,0,0.5) 55%, rgba(0,0,0,0.3) 100%) */
    background-image: linear-gradient(186deg, rgba(0,0,0,0) 0%, rgba(6,3,1,1) 100%),
    url("../pictures/forest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.usp .partie-gauche {
    padding: min(3rem, 7%);
    /*margin: max(5rem, 7%) max(3rem, 7%);*/
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    /*min-width: 300px;*/
}

@media screen and (max-width: 1024px) {
    .bloc-content {
        padding-left: 0;
        padding-right: 0;
        flex-wrap: wrap;
        transition: all 0.5s linear;
    }

    .partie-gauche {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

/* CONCEPT */
.card-concept {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    max-width: 400px;
    margin: 0.5em 0.5em;
    padding: 1em 2em;

}

.card-concept-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-concept-title h3 {
    margin: 0;
    padding: 0 0 0 0.5em;
    color: #8D8E72;
}

.card-concept-number {
    position: relative;
    font-size: 2.65em;
    font-weight: bold;
    color: white;
    left: -20px;
    top: 20px;
}

.card-concept-text {
    padding: 0 0 0 25px;
    color: white;
}

@media screen and (max-width: 480px) {
    .card-concept {
        margin: 0;
        padding: 1.5rem 7%;
    }

    .card-concept-number {
        display: none;
    }

    .card-concept-text {
        padding: 0.5rem;
        padding-left: 25px;
    }
}

/* TIMER */

.bloc-content-timer {
    padding: 3rem 2rem 7% 2rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.bloc-content-timer h3 {
    color: white;
}

#countdown-next-month {
    font-family: "fontTimer";
    font-variant-numeric: tabular-nums;
    font-size: 300%;
    max-font-size: 4rem;
    letter-spacing: 5px;
}

#countdown-next-month, #countdown-next-month > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.countdown-next-month-column {
    margin: 0.5rem 0;
    border-inline: solid 1px rgba(255, 255, 255, 0.5);
}

.countdown-next-month-column div {
    text-align: center;
    margin: 0 2rem;
}

.countdown-text {
    padding-top: 0.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
}

@media screen and (max-width: 480px){
    .bloc-content-timer {
        padding-left: 5%;
        padding-right: 5%;
    }

    #countdown-next-month {
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }

    #countdown-next-month, #countdown-next-month > div {
        flex-wrap: wrap;
    }

    .countdown-next-month-column {
        border-inline: none;
    }

    .countdown-next-month-column div {
        margin: 0.5rem;
    }

    .countdown-text {
        padding-top: 0.2rem;
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
}

/* COLLAPS */
.bloc-content-collaps {
    width: min(80%, 1000px); /* prend la valeur la plus petite */
    margin-top: 5vh;
}

.bloc-content-collaps-part {
    border-bottom: 1px solid #fff;
    margin: 0 0;
    padding: 1em 0 0.5em 0;
}

.collaps {
    cursor: pointer; /* !!!!!!!!!!!!!!!! */
    width: 100%;
    text-align: left;
    color: #fff;
    border: none;
    outline: none;
    background-color: #060301;
    padding-left: 25px;
}

.collaps h3:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: #fff;
    float: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collaps:hover {
    /*background-color: #ccc;*/
}

.active h3:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.collaps-content {
    overflow: hidden;
    padding: 0 20px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* FOOTER */
#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;

    padding: 2% 0 max(2%, 50px) 0;

    font-size: 90%;
}

#footer div {
    padding: 3vh 3vw;
}