/* MAIN CONTENT */
#main-content {
    margin: 0;
    background-color: #060301;
}

.bloc-content {
    margin: 0; /* 3% 0 5% 0 */
    padding: 4rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;

    transition: all 0.5s linear;
}

.wrap {
    flex-wrap: wrap;
}

.partie-gauche {
    width: 50%;
    max-width: 525px;
    margin: max(5rem, 5%) max(1rem, 7%); /* 0 45px 0 50px */
    color: white;
    flex-grow: 1;
    z-index: 1;
}

.partie-gauche img {
    width: 100%;
    border-radius: 10px;
}

.partie-droite {
    width: 50%;

    max-width: 600px;
    color: white;
    flex-grow: 1;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .bloc-content {
        padding-inline: 0;
        flex-wrap: wrap;
        transition: all 0.5s linear;
    }

    .partie-gauche {
        margin-bottom: 2rem;
    }
}

.bloc-text-center {
    text-align: center;
}

.bloc-content-center {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.bloc-content-timer {
    margin: 5% 0 5% 0;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    outline: 2px solid #8D8E72;

    background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 55%, rgba(0,0,0,0.3) 100%),
    url("../pictures/weapon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bloc-content-title {
    width: 100%;
    text-align: center;
    color: white;
}

.sous-text {
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 25px;
}

.sous-text a {
    text-decoration: none;
    color: #8D8E72;
    font-style: italic;
}

/* USP */
.usp{
    min-height: 100vh;
    justify-content: flex-start;

    /* linear-gradient(90deg, rgba(0,0,0,0.5) 55%, rgba(0,0,0,0.3) 100%) */
    background-image: linear-gradient(186deg, rgba(0,0,0,0) 0%, rgba(6,3,1,1) 100%),
    url("../pictures/forest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.usp .partie-gauche {
    padding: min(3rem, 7%);
    /*margin: max(5rem, 7%) max(3rem, 7%);*/
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    /*min-width: 300px;*/
}

/* CONCEPT */
.card-concept {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    max-width: 400px;
    margin: 0.5em 0.5em;
    padding: 1em 2em;

}

.card-concept-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-concept-title h3 {
    margin: 0;
    padding: 0 0 0 0.5em;
    color: #8D8E72;
}

.card-concept-number {
    position: relative;
    font-size: 2.65em;
    font-weight: bold;
    color: white;
    left: -20px;
    top: 20px;
}

.card-concept-text {
    padding: 0px 0 0 25px;
    color: white;
}

/* COLLAPS */
.bloc-content-collaps {
    width: min(80%, 1000px); /* prend la valeur la plus petite */
    margin-top: 5vh;
}

.bloc-content-collaps-part {
    border-bottom: 1px solid #fff;
    margin: 0 0;
    padding: 1em 0 0.5em 0;
}

.collaps {
    cursor: pointer; /* !!!!!!!!!!!!!!!! */
    width: 100%;
    text-align: left;
    color: #fff;
    border: none;
    outline: none;
    background-color: #060301;
    padding-left: 25px;
}

.collaps h3:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: #fff;
    float: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collaps:hover {
    /*background-color: #ccc;*/
}

.active h3:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.collaps-content {
    overflow: hidden;
    padding: 0 20px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* FOOTER */
#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;

    padding: 2% 0;

    font-size: 90%;
}

#footer div {
    padding: 3vh 3vw;
}